.about .article__title {
  margin-bottom: 15px;
}
.about__text {
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  line-height: 1.6;
}

.about__text p {
  margin-bottom: 15px;
}

/**
 * #service 
 */

.service {
  margin-bottom: 35px;
}
.service__title {
  margin-bottom: 20px;
}
.service__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.service__item {
  position: relative;
  background: var(--border-gradient-onyx);
  padding: 20px;
  border-radius: 14px;
  box-shadow: var(--shadow-2);
  z-index: 1;
}

.service__item::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--bg-gradient-jet);
  border-radius: inherit;
  z-index: -1;
}
.service__icon_box {
  margin-bottom: 10px;
}

.service__icon_box img {
  margin: auto;
}

.service__content_box {
  text-align: center;
}

.service__item_title {
  margin-bottom: 7px;
}

.service__item_text {
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-3);
  line-height: 1.6;
}
.service__item_text a {
  display: inline-block;
  color: var(--orange-yellow-crayola);
}
.explore {
  margin-top: 30px;
}
.form__btn {
  position: relative;
  width: 100%;
  background: var(--border-gradient-onyx);
  color: var(--orange-yellow-crayola);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 13px 20px;
  border-radius: 14px;
  font-size: var(--fs-6);
  text-transform: capitalize;
  box-shadow: var(--shadow-3);
  z-index: 1;
  transition: var(--transition-1);
}

.form__btn::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--bg-gradient-jet);
  border-radius: inherit;
  z-index: -1;
  transition: var(--transition-1);
}

.form__btn svg {
  font-size: 16px;
}

.form__btn:hover {
  background: var(--bg-gradient-yellow-1);
}

.form__btn:hover::before {
  background: var(--bg-gradient-yellow-2);
}

.form__btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.form__btn:disabled:hover {
  background: var(--border-gradient-onyx);
}

.form__btn:disabled:hover::before {
  background: var(--bg-gradient-jet);
}

@media (min-width: 580px) {
  .about .article__title {
    margin-bottom: 20px;
  }

  .about__text {
    margin-bottom: 40px;
  }
  /* service */

  .service__item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 18px;
    padding: 30px;
  }
  .service__icon_box {
    margin-bottom: 0;
    margin-top: 5px;
  }
  .service__content_box {
    text-align: left;
  }
  .form__btn {
    --fs-6: 16px;
    padding: 16px 20px;
  }

  .form__btn svg {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  .form__btn {
    width: max-content;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .service__list {
    grid-template-columns: 1fr 1fr;
    gap: 20px 25px;
  }
}
