.container {
  padding: 0 1.5rem;
  margin: 2rem 0;
}
.message__wrapper {
  padding: 1.5rem 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.25rem;
}
.message__card {
  background: #fff;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  padding: 1.25rem 1rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  position: relative;
}
.message__header {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1rem;
}
.message__header h2 {
  background: #2a2185;
  color: #fff;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__info span,
.message__body span {
  font-size: 0.75rem;
}
.message__body p {
  margin-bottom: 0.75rem;
}
.delete__message {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.delete__message svg {
  color: red;
  font-size: var(--fs-2);
}
.popup__message {
  margin-top: 1rem;
  font-size: var(--fs-4);
  padding: 0 1.25rem;
  color: #2a2185;
  font-weight: var(--fw-500);
}
.popup__message.error {
  color: red;
}

.update__heading {
  color: var(--eerie-black-1);
}

.status__section {
  margin-top: 30px;
}
.status__section p {
  font-weight: var(--fw-500);
  font-size: var(--fs-4);
}
.status__update {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  background-color: #f8f9fa; /* Light grey background */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
  max-width: 400px;
  /* margin: 0 auto; Center align */
  font-family: "Poppins", sans-serif; /* Modern font */
  margin-top: 1.5rem;
}

.status__update label {
  font-size: 1.1rem;
  color: #333;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.status__update select {
  padding: 0.8rem;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 1rem;
  background-color: #fff;
  transition: border-color 0.3s, box-shadow 0.3s;
  outline: none;
  cursor: pointer;
}

.status__update select:disabled {
  background-color: #f0f0f0;
  cursor: not-allowed;
}

.status__update select:focus {
  border-color: #4caf50; /* Green border on focus */
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.3); /* Light green glow */
}

.status__update select:hover {
  border-color: #aaa; /* Darker border on hover */
}

.status__update select option {
  padding: 1rem;
  font-size: 1rem;
}

@media (max-width: 991px) {
  .message__wrapper {
    grid-template-columns: auto;
  }
}

@media (max-width: 575px) {
  .container {
    padding: 0 0.75rem;
  }
}
